.myAccount-address-container {
	ul.myAccount-address {
		margin-bottom: 20px;
		li {
			margin-bottom: 5px;
		}
	}
	ul.myAccount-address-category{
		li {
			margin-bottom: 5px;
		}
	}

}


.myAccount-address-item {
	display: flex;
	align-items: flex-start;
	.myAccount-address {
		flex-basis:50%;
	}
	ul.myAccount-address-item-tools {
		margin-left: auto;
		li {
			display: inline;
		}
		li + li::before {
			content: " | ";
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}